<!DOCTYPE html>
<html lang="en">
  <%- include("layouts/header") -%>
  <body>
    <!-- Navigation-->
    <%- include("layouts/navbar") -%>
    <!-- Page Header-->
    <header
      class="masthead"
      style="background-image: url('assets/img/Login Page.jpg')"
    >
      <div
        class="container position-relative px-4 px-lg-5"
        style="margin-top: 90px"
      >
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="psnlInfo">
              <h2 class="loginHeading">Appointments</h2>
              <form action="/createAppointment" method="post">
                <div>
                  <input
                    name="date"
                    type="date"
                    class="loginTextElement"
                    placeholder="Date"
                  />
                  <select name="time" id="time">
                    <option value="9:00">9:00 AM</option>
                    <option value="9:30">9:30 AM</option>
                    <option value="10:00">10:00 AM</option>
                    <option value="10:30">10:30 AM</option>
                    <option value="11:00">11:00 AM</option>
                    <option value="11:30">11:30 AM</option>
                    <option value="12:00">12:00 PM</option>
                    <option value="12:30">12:30 PM</option>
                    <option value="1:00">1:00 PM</option>
                    <option value="1:30">1:30 PM</option>
                    <option value="2:00">2:00 PM</option>
                    </select>
                <input type="submit" class="sbmtBtn" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Post Content-->
    <!-- Footer-->
    <%- include("layouts/footer") -%> <%- include("layouts/scripts") -%>
  </body>
</html>
